.main {
	padding-top: 6rem;
  padding-left: 20rem;
  padding-right: 20rem;
}

.navigation {
	list-style: none;
	display: flex;
	flex-direction: row;
	padding: 0;
}

.navigation li {
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}

.navigation a.link.active {
	background-color: rgb(var(--foreground-rgb));
	color: rgb(var(--background-start-rgb));
}

.navigation a:link {
  text-decoration: none;
	color: inherit;
}

.navigation a:visited {
	text-decoration: none;
	color: inherit;
}

.navigation a:hover {
	text-decoration: none;
	color: inherit;
}

.navigation a:active {
	text-decoration: none;
	color: inherit;
}
